/*Generales*/
@import url('https://fonts.googleapis.com/css2?family=Mukta:wght@300;400;700&display=swap');
:root{
    --font-family: 'Mukta', sans-serif;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
    font-size: 62.5%;
}
body {
    font-size: 16px;
    font-family: var(--font-family);
}
 /*Utilidades*/
.container {
     width: 90%;
     max-width: 1200px;
     margin: 0 auto;
}

/*Parallax Effect*/
.parallax {
    background: url('../img/img1.jpg') no-repeat center;
    background-size: cover;
    background-attachment: fixed;
    height: 600px;
    position: relative;
    .parallax__content {
        display: flex;
        flex-wrap: nowrap;
        justify-content: center;
        align-items: center;
        height: 100%;
        .parallax__title {
            font-size: 20rem;
            color: white;
            text-transform: uppercase;
        }
        .parallax__text{
            height: 15rem;
            stroke-dasharray: 4363.1139;
            stroke-dashoffset: 4363.1139;
        }
        @for $i from 1 through 10 {
            path:nth-child(#{$i}) {
                stroke-dasharray: 10px*$i;
                animation: animation ease forwards;
                animation-duration: 1s;
                animation-delay: (4s + $i);
            }
        }
    }
}

@keyframes animation {
    from {
        fill: transparent;
    }
    to {
        fill: white
    }
}




/*Navegacion*/
nav{
    padding: 1.6rem;
    background-color: rgba(0, 0, 0, 1);
    text-align: end;
    position: sticky;
    top: 0;
}
.nav__link {
     text-decoration: none;
     text-transform: uppercase;
     margin: 1rem;
     color: white;
     font-weight: 300;
     letter-spacing: 2px;
}
.nav__link:last-child {
    margin-right: 5rem;
}
