.container{
  max-width: 960px;
  margin: 0 auto;
  background: #f9f9f9;
  font-size: 24px;
  padding: 25px;
}

.parallax{
  background: url('img/ardian-lumi-6Woj_wozqmA-unsplash.jpg') no-repeat center;
  background-size: cover;
  background-attachment: fixded;
  height: 500px;
}